* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
* :focus {
  outline: none
}

::-webkit-scrollbar-track-piece {
  background: #efefef
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px
}

::-webkit-scrollbar-thumb {
  background: #c7d1da;
  border-radius: 3.5px
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: MicrosoftYaHei,Avenir,Helvetica,Arial,sans-serif;
  color: #333;
  font-size: 14px;
  background: #f5f6f9
}
a,a:active,a:focus,a:hover,div:focus {
  outline: none
}

a,a:focus,a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

td,th,tr {
  font-weight: 400
}

li {
  list-style: none
}

input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none
}

#app{
  height: 100%;
}

.white-bg{
  background-color: #fff;
}

.width-256{
  width: 256px;
}
.width-280{
  width: 280px;
}
.width-320{
  width: 320px;
}
.width-360{
  width: 360px;
}
.width-480{
  width: 480px;
}
.width-640{
  width: 640px;
}
.width-960{
  width: 960px;
}
.width-1280{
  width: 1280px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display-flex{
  display: flex;
}
.inline-block{
  display: inline-block;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.dashed-border{
  border: 1px dashed #ccc;
}
.padding-6{
  padding: 6;
}
.padding-12{
  padding: 12px;
}
.empty-10{
  display: block;
  height: 10px;
  width: 100%;
}
.empty-30{
  display: block;
  height: 30px;
  width: 100%;
}